@model BookOrganiser.Models.Book

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        @if (Model.Title != string.Empty)
        {
            <dt class = "col-sm-2">
                Title
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
        }
        @if (Model.Subtitle != string.Empty)
        {
            <dt class = "col-sm-2">
                Subtitle
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Subtitle)
            </dd>
        }
        @if (Model.Authors.Any())
        { 
            <dt class = "col-sm-2">
                Author(s)
            </dt>
            <dd class = "col-sm-10">
                @string.Join(", ", Model.Authors)
            </dd>
        }
        @if (Model.Publisher != string.Empty)
        {
            <dt class = "col-sm-2">
                Publisher
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Publisher)
            </dd>
        }
        @if (Model.PublishedDate != string.Empty)
        {
            <dt class = "col-sm-2">
                Year Published
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.PublishedDate)
            </dd>
        }
        @if (Model.Description != string.Empty)
        {
            <dt class = "col-sm-2">
                Description
            </dt>
            <dd class = "col-sm-10">
                @Html.Raw(Model.Description)
            </dd>
        }
        @if (Model.ISBN10 != string.Empty)
        {
            <dt class = "col-sm-2">
                ISBN-10
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ISBN10)
            </dd>
        }
        @if (Model.ISBN13 != string.Empty)
        {
            <dt class = "col-sm-2">
                ISBN-13
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ISBN13)
            </dd>
        }
        @if (Model.ISSN != string.Empty)
        {
            <dt class = "col-sm-2">
                ISSN
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ISSN)
            </dd>
        }
        @if (Model.OtherIdentifier != string.Empty)
        {
            <dt class = "col-sm-2">
                Other Identifier
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.OtherIdentifier)
            </dd>
        }
        <dt class = "col-sm-2">
            Page Count
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PageCount)
        </dd>
        @if (Model.GoogleBooksCategories.Any())
        {
            <dt class = "col-sm-2">
                Categories
            </dt>
            <dd class = "col-sm-10">
                @string.Join(", ", Model.GoogleBooksCategories)
            </dd>
        }
        @{ var thumbnail = (Model.Thumbnail != string.Empty) ? Model.Thumbnail : Model.SmallThumbnail; }
        <dt class = "col-sm-2">
            Thumbnail
        </dt>
        <dd class="col-sm-10">
            @if (thumbnail != string.Empty)
            {
                <img src="@thumbnail" alt="Thumbnail for @Model.Title."/>
            }
            else
            {
                <img src="~/images/no-cover.jpg" alt="No thumbnail available for @Model.Title."/>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
</body>
</html>
