@model BookOrganiser.Models.Book

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        @if (Model.Title != string.Empty)
        {
            <dt class = "col-sm-2">
                Title
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
        }
        @if (Model.Subtitle != string.Empty)
        {
            <dt class = "col-sm-2">
                Subtitle
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Subtitle)
            </dd>
        }
        @if (Model.Authors.Any())
        { 
            <dt class = "col-sm-2">
                Author(s)
            </dt>
            <dd class = "col-sm-10">
                @string.Join(", ", Model.Authors)
            </dd>
        }
        @if (Model.Publisher != string.Empty)
        {
            <dt class = "col-sm-2">
                Publisher
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Publisher)
            </dd>
        }
        @if (Model.PublishedDate != string.Empty)
        {
            <dt class = "col-sm-2">
                Year Published
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.PublishedDate)
            </dd>
        }
        @if (Model.Description != string.Empty)
        {
            <dt class = "col-sm-2">
                Description
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        }
        @if (Model.ISBN10 != string.Empty)
        {
            <dt class = "col-sm-2">
                ISBN-10
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ISBN10)
            </dd>
        }
        @if (Model.ISBN13 != string.Empty)
        {
            <dt class = "col-sm-2">
                ISBN-13
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ISBN13)
            </dd>
        }
        <dt class = "col-sm-2">
            Page Count
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PageCount)
        </dd>
        @if (Model.GoogleBooksCategories.Any())
        {
            <dt class = "col-sm-2">
                Categories
            </dt>
            <dd class = "col-sm-10">
                @string.Join(", ", Model.GoogleBooksCategories)
            </dd>
        }
        @if (Model.Thumbnail != string.Empty)
        {
            <dt class = "col-sm-2">
                Thumbnail
            </dt>
            <dd class = "col-sm-10">
                <img src="@Model.Thumbnail" />
            </dd>
        }
        @if (Model.SmallThumbnail != string.Empty)
        {
            <dt class = "col-sm-2">
                Thumbnail (Small)
            </dt>
            <dd class = "col-sm-10">
                <img src="@Model.SmallThumbnail" />
            </dd>
        }
        @if (Model.SmallImage != string.Empty)
        {
            <dt class = "col-sm-2">
                Cover (Small)
            </dt>
            <dd class = "col-sm-10">
                <img src="@Model.SmallImage" />
            </dd>
        }
        @if (Model.MediumImage != string.Empty)
        {
            <dt class = "col-sm-2">
                Image (Medium)
            </dt>
            <dd class = "col-sm-10">
                <img src="@Model.MediumImage" />
            </dd>
        }
        @if (Model.LargeImage != string.Empty)
        {
            <dt class = "col-sm-2">
                Image (Large)
            </dt>
            <dd class = "col-sm-10">
                <img src="@Model.LargeImage" />
            </dd>
        }
        @if (Model.ExtraLargeImage != string.Empty)
        {
            <dt class = "col-sm-2">
                Image (Extra Large)
            </dt>
            <dd class = "col-sm-10">
                <img src="@Model.ExtraLargeImage" />
            </dd>
        }
        @if (Model.GoogleBooksLink != string.Empty)
        {
            <dt class = "col-sm-2">
                Google Books Link
            </dt>
            <dd class = "col-sm-10">
                <a href="@Model.GoogleBooksLink"></a>
            </dd>
        }
        @if (Model.CustomCategories.Any())
        {
            <dt class = "col-sm-2">
                Custom Categories
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CustomCategories)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
</body>
</html>
