@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<BookOrganiser.Models.Book>

@{
    ViewData["Title"] = "Index";
    var textInfo = new CultureInfo("en-GB", false).TextInfo;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<h1>My Library</h1>
<hr />
@if (!(bool)ViewBag.HasAnyBooks)
{
    <div class="alert alert-primary">
        <p>
            <strong>You currently don't have any books in your library!</strong> Click <a asp-controller="Book" asp-action="Find">here</a> to get started (or alternatively click "Add Book").
        </p>
    </div>
}
@{
    var emptyCategories = new List<string>();
    @foreach (var category in (List<string>)ViewBag.Categories)
    {
        var books = Model.Where(e => e.CustomCategories.Contains(category)).ToList();
        if (!books.Any())
        {
            emptyCategories.Add(category);
            continue;
        }

        <div>
            <h2>@textInfo.ToTitleCase(category)</h2>
            <table class="table">
                <thead>
                <tr>
                <th>
                    Title
                </th>
                <th>
                    Author(s)
                </th>
                <th>
                    Date Published
                </th>
                <th>
                    Thumbnail
                </th>
                <th>
                    Options
                </th>
                </thead>
                <tbody>
                @foreach (var item in books)
                {
                    <tr>
                        @if (item.Title != string.Empty)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                        }
                        else
                        {
                            <td class="text-danger">
                                Title Not Found.
                            </td>
                        }
                        @if (item.Authors.Any())
                        {
                            <td>
                                @string.Join(", ", item.Authors)
                            </td>
                        }
                        else
                        {
                            <td class="text-danger">
                                No Authors Found.
                            </td>
                        }
                        @if (item.PublishedDate != string.Empty)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.PublishedDate)
                            </td>
                        }
                        else
                        {
                            <td class="text-danger">
                                No Published Date Found.
                            </td>
                        }
                        @{ var thumbnail = (item.Thumbnail != string.Empty) ? item.Thumbnail : item.SmallThumbnail; }
                        <td>
                            @if (thumbnail != string.Empty)
                            {
                                <img src="@thumbnail" alt="Thumbnail for @item.Title."/>
                            }
                            else
                            {
                                <img src="~/images/no-cover.jpg" alt="No Thumbnail for @item.Title." width="130" height="170"/>
                            }
                        </td>
                        <td>
                            <a asp-controller="Book" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-controller="Book" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
    
    @if (emptyCategories.Any())
    {
        foreach (var category in emptyCategories)
        {
            <h2>@textInfo.ToTitleCase(category)</h2>
            <div class="alert alert-warning">
                <p>There are no books in this category.</p>
            </div>
        }
    }
}
<div>
    @if ((bool)ViewBag.HasAnyBooks)
    {
        <h2>Unsorted Books</h2>
        <table class="table">
            <thead>
            <tr>
            <th>
                Title
            </th>
            <th>
                Author(s)
            </th>
            <th>
                Date Published
            </th>
            <th>
                Thumbnail
            </th>
            <th>
                Options
            </th>
            </thead>
            <tbody>
            @foreach (var item in Model.Where(e => !e.CustomCategories.Any()))
            {
                <tr>
                    @if (item.Title != string.Empty)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                    }
                    else
                    {
                        <td class="text-danger">
                            Title Not Found.
                        </td>
                    }
                    @if (item.Authors.Any())
                    {
                        <td>
                            @string.Join(", ", item.Authors)
                        </td>
                    }
                    else
                    {
                        <td class="text-danger">
                            No Authors Found.
                        </td>
                    }
                    @if (item.PublishedDate != string.Empty)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.PublishedDate)
                        </td>
                    }
                    else
                    {
                        <td class="text-danger">
                            No Published Date Found.
                        </td>
                    }
                    @{ var thumbnail = (item.Thumbnail != string.Empty) ? item.Thumbnail : item.SmallThumbnail; }
                    <td>
                        @if (thumbnail != string.Empty)
                        {
                            <img src="@thumbnail" alt="Thumbnail for @item.Title."/>
                        }
                        else
                        {
                            <img src="~/images/no-cover.jpg" alt="No Thumbnail for @item.Title." width="130" height="170"/>
                        }
                    </td>
                    <td>
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-controller="Book" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>
<div>
    <h1>Category Management</h1>
    <hr/>
    <div class="form-group">
        <form asp-controller="Account" asp-action="AddCategory" method="post">
            <div class="mb-3">
                <label class="form-label" for="category">Custom Category:</label>
                <input class="form-control" type="text" id="category" name="category" required/>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success">Add Category</button>
            </div>
        </form>
    </div>
    <div class="form-group mb-3">
        <form asp-controller="Account" asp-action="DeleteCategory" method="post">
            <div class="mb-3">
                <select for="category" name="category" class="form-select" required>
                    <option value="" disabled selected hidden>Please Choose...</option>
                    @foreach (var item in (List<string>)ViewBag.Categories)
                    {
                        <option value="@item">@textInfo.ToTitleCase(item)</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-danger">Delete Category</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
