@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BookOrganiser.ViewModels.HomeViewModels
@model IndexViewModel

@{
    ViewData["Title"] = "Index";
    var textInfo = new CultureInfo("en-GB", false).TextInfo;
    var books = Model.Books;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        Error: @TempData["Error"]
    </div>
}
<h1>My Library</h1>
<hr />
@if (!Model.HasAnyBooks)
{
    <div class="alert alert-primary">
        <strong>You currently don't have any books in your library!</strong> Click <a asp-controller="Book" asp-action="Find">here</a> to get started (or alternatively click "Add Book").
    </div>
}
@{
    var emptyCategories = new List<string>();
    @foreach (var category in Model.Categories)
    {
        var filteredBooks = books.Where(e => e.CustomCategories.Contains(category)).ToList();
        if (!filteredBooks.Any())
        {
            emptyCategories.Add(category);
            continue;
        }
        
        <h2>@textInfo.ToTitleCase(category)</h2>
        <div class="bookshelf-container">
            <div class="bookshelf-item-list">
                @foreach (var item in filteredBooks)
                {
                    var thumbnail = (item.Thumbnail != string.Empty) ? item.Thumbnail : item.SmallThumbnail;
                    <div class="bookshelf-item">
                        <div class="bookshelf-thumbnail">
                            @if (thumbnail != string.Empty)
                            {
                                <a asp-controller="Book" asp-action="Details" asp-route-id="@item.Id">
                                    <img src="@thumbnail" alt="Thumbnail for @item.Title." title="@item.Title"/>
                                </a>
                            }
                            else
                            {
                                <a asp-controller="Book" asp-action="Details" asp-route-id="@item.Id">
                                    <img src="~/images/no-cover.jpg" alt="No Thumbnail for @item.Title." width="130" height="170" title="@item.Title"/>
                                </a>
                            }
                        </div>
                        <div class="bookshelf-title">@item.Title</div>
                    </div>
                }
            </div>
        </div>
    }
    
    @if (emptyCategories.Any())
    {
        foreach (var category in emptyCategories)
        {
            <h2>@textInfo.ToTitleCase(category)</h2>
            <div class="alert alert-warning">
                There are no books in this category.
            </div>
        }
    }
}
@{
    if (Model.HasAnyBooks)
    {
        <h2>Unsorted Books</h2>
        <div class="bookshelf-container">
            <div class="bookshelf-item-list">
                @foreach (var item in books.Where(e => !e.CustomCategories.Any()))
                {
                    var thumbnail = (item.Thumbnail != string.Empty) ? item.Thumbnail : item.SmallThumbnail;
                    <div class="bookshelf-item">
                        <div class="bookshelf-thumbnail">
                            @if (thumbnail != string.Empty)
                            {
                                <a asp-controller="Book" asp-action="Details" asp-route-id="@item.Id">
                                    <img src="@thumbnail" alt="Thumbnail for @item.Title." title="@item.Title"/>
                                </a>
                            }
                            else
                            {
                                <a asp-controller="Book" asp-action="Details" asp-route-id="@item.Id">
                                    <img src="~/images/no-cover.jpg" alt="No Thumbnail for @item.Title." width="130" height="170" title="@item.Title"/>
                                </a>
                            }
                        </div>
                        <div class="bookshelf-title">@item.Title</div>
                    </div>
                }
            </div>
        </div>
    }
}
</body>
</html>
