@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<BookOrganiser.Models.Book>

@{
    ViewData["Title"] = "Index";
    var textInfo = new CultureInfo("en-GB", false).TextInfo;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        Error: @TempData["Error"]
    </div>
}
<h1>My Library</h1>
<hr />
@if (!(bool)ViewBag.HasAnyBooks)
{
    <div class="alert alert-primary">
        <strong>You currently don't have any books in your library!</strong> Click <a asp-controller="Book" asp-action="Find">here</a> to get started (or alternatively click "Add Book").
    </div>
}
@{
    var emptyCategories = new List<string>();
    @foreach (var category in (List<string>)ViewBag.Categories)
    {
        var books = Model.Where(e => e.CustomCategories.Contains(category)).ToList();
        if (!books.Any())
        {
            emptyCategories.Add(category);
            continue;
        }
        
        <h2>@textInfo.ToTitleCase(category)</h2>
        <div class="bookshelf-container">
            <div class="bookshelf-item-list">
                @foreach (var item in books)
                {
                    var thumbnail = (item.Thumbnail != string.Empty) ? item.Thumbnail : item.SmallThumbnail;
                    <div class="bookshelf-item">
                        <div class="bookshelf-thumbnail">
                            @if (thumbnail != string.Empty)
                            {
                                <a asp-controller="Book" asp-action="Details" asp-route-id="@item.Id">
                                    <img src="@thumbnail" alt="Thumbnail for @item.Title." title="@item.Title"/>
                                </a>
                            }
                            else
                            {
                                <a asp-controller="Book" asp-action="Details" asp-route-id="@item.Id">
                                    <img src="~/images/no-cover.jpg" alt="No Thumbnail for @item.Title." width="130" height="170" title="@item.Title"/>
                                </a>
                            }
                        </div>
                        <div class="bookshelf-title">@item.Title</div>
                    </div>
                }
            </div>
        </div>
    }
    
    @if (emptyCategories.Any())
    {
        foreach (var category in emptyCategories)
        {
            <h2>@textInfo.ToTitleCase(category)</h2>
            <div class="alert alert-warning">
                There are no books in this category.
            </div>
        }
    }
}
@{
    if ((bool)ViewBag.HasAnyBooks)
    {
        <h2>Unsorted Books</h2>
        <div class="bookshelf-container">
            <div class="bookshelf-item-list">
                @foreach (var item in Model.Where(e => !e.CustomCategories.Any()))
                {
                    var thumbnail = (item.Thumbnail != string.Empty) ? item.Thumbnail : item.SmallThumbnail;
                    <div class="bookshelf-item">
                        <div class="bookshelf-thumbnail">
                            @if (thumbnail != string.Empty)
                            {
                                <a asp-controller="Book" asp-action="Details" asp-route-id="@item.Id">
                                    <img src="@thumbnail" alt="Thumbnail for @item.Title." title="@item.Title"/>
                                </a>
                            }
                            else
                            {
                                <a asp-controller="Book" asp-action="Details" asp-route-id="@item.Id">
                                    <img src="~/images/no-cover.jpg" alt="No Thumbnail for @item.Title." width="130" height="170" title="@item.Title"/>
                                </a>
                            }
                        </div>
                        <div class="bookshelf-title">@item.Title</div>
                    </div>
                }
            </div>
        </div>
    }
}
<div>
    <h1>Category Management</h1>
    <hr/>
    <div class="form-group mb-3">
        <form asp-controller="Home" asp-action="AddCategory" method="post">
            <div class="mb-3">
                <label class="form-label" for="category">Custom Category:</label>
                <input class="form-control" type="text" id="category" name="category" required/>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success">Add Category</button>
            </div>
        </form>
    </div>
    <div class="form-group mb-3">
        <form asp-controller="Home" asp-action="DeleteCategory" method="post">
            <div class="mb-3">
                <select for="category" name="category" class="form-select" required>
                    <option value="" disabled selected hidden>Please Choose...</option>
                    @foreach (var item in (List<string>)ViewBag.Categories)
                    {
                        <option value="@item">@textInfo.ToTitleCase(item)</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-danger">Delete Category</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
